---
const { title, subtitle } = Astro.props;
---

<div class="flex">
  <div class="education__time">
    <span class="w-4 h-4 bg-[#246249] block rounded-full mt-1"></span>
    <span class="education__line bg-[#246249] block h-full w-[2px] translate-x-[7px]"></span>
  </div>
  <div class="experience__data bd-grid px-5">
    <span class="font-semibold mb-1 text-xl">{title}</span>
    <span class="font-light text-lg">{subtitle}</span>
    <p class="my-2 text-justify">
      <slot />
    </p>
  </div>
</div>
