---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";
import { YouTube } from "astro-embed";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 10);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-lg py-1 font-bold">In Memoriam</div>
    <div class="text-xl py-1 font-bold">Ayrton Senna</div>
    <div class="text-x1 py-3 font-bold">
      30 anos da passagem de Aryon Senna (34 anos)
    </div>
    <div class="py-2">
      <div class="flex">
        <div class="text-3xl mb-4 text-justify">
          Ayrton Senna da Silva, um ícone do automobilismo, deixou um legado que
          transcende o esporte. Sua paixão, dedicação e espírito competitivo são
          lembrados e celebrados não só no Brasil, mas em todo o mundo. Senna
          demonstrou que a determinação e o amor pelo que se faz são
          fundamentais para superar desafios e alcançar o sucesso. Sua citação,
          “Com seu poder mental, sua determinação, seu instinto e a experiência
          também, você pode voar muito alto”, reflete a essência de sua
          filosofia de vida e carreira.
        </div>
      </div>
    </div>

    <div class="py-2">
      <div class="flex">
        <div class="text-2xl mb-4 text-justify">
          Sua memória continua viva, inspirando não apenas pilotos e entusiastas
          do automobilismo, mas todos aqueles que buscam excelência e paixão em
          suas próprias vidas. Ayrton Senna será sempre lembrado como um herói
          nacional, um piloto exímio e um ser humano extraordinário cuja vida,
          embora curta, foi vivida com intensidade e propósito.
        </div>
      </div>
    </div>

    <div class="py-2">
      <div class="flex">
        <div class="text-2xl mb-4 text-justify">
          Este espaço é um tributo a um homem que não apenas dominou as pistas,
          mas também conquistou corações ao redor do mundo com sua humanidade e
          seu compromisso inabalável com a excelência.
        </div>
      </div>
    </div>

    <div>
      <div class="text-xl w-full font-bold mb-5 mt-5">
        Depoimentos de Pilotos
      </div>
    </div>

    <div class="container relative px-4 mx-auto">
      <div class="grid grid-cols-2 gap-6 mt-12">
        
        <div class="col-span-2 md:col-span-1">
          <div
            class="bg-white dark:bg-slate-800 shadow-xl flex items-center h-full p-6 py-12"
          >
            <div class="mr-4">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Lauda_at_1982_Dutch_Grand_Prix.jpg/800px-Lauda_at_1982_Dutch_Grand_Prix.jpg"
                alt=""
                class="max-w-[100px] min-w-[100px] h-auto rounded-full border border-red-600"
              />
            </div>
            <div>
              <p class="opacity-80">Ele foi o melhor piloto que já viveu.</p>
              <h4 class="text-2xl font-medium mt-5">~~Niki Lauda, 1994</h4>
            </div>
          </div>
        </div>

        <div class="col-span-2 md:col-span-1">
          <div
            class="bg-white dark:bg-slate-800 shadow-xl flex items-center h-full p-6 py-12"
          >
            <div class="mr-4">
              <img
                src="https://cdn-3.latimages.com/images/mgl/G3e2V/s3/open-uri20120927-6096-1x11xpl.jpg"
                alt=""
                class="max-w-[100px] min-w-[100px] h-auto rounded-full border border-red-600"
              />
            </div>
            <div>
              <p class="opacity-80">
                Ele pode ter sido o maior piloto de todos os tempos. Ayrton
                Senna não tinha fraqueza.
              </p>
              <h4 class="text-2xl font-medium mt-5">
                ~~ Michael Andretti, 1994
              </h4>
            </div>
          </div>
        </div>

        <div class="col-span-2 md:col-span-1">
          <div
            class="bg-white dark:bg-slate-800 shadow-xl flex items-center h-full p-6 py-12"
          >
            <div class="mr-4">
              <img
                src="https://i.pinimg.com/originals/9d/ee/79/9dee79df69f0ccaf102bf30e60a0c9ca.jpg"
                alt=""
                class="max-w-[100px] min-w-[100px] h-auto rounded-full border border-red-600"
              />
            </div>
            <div>
              <p class="opacity-80">
                Sem dúvida o melhor piloto em Grandes Prémios da atualidade.
              </p>
              <h4 class="text-2xl font-medium mt-5">~~ Alan Jones, 1993</h4>
            </div>
          </div>
        </div>

        <div class="col-span-2 md:col-span-1">
          <div
            class="bg-white dark:bg-slate-800 shadow-xl flex items-center h-full p-6 py-12"
          >
            <div class="mr-4">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Watson_at_1982_Dutch_Grand_Prix.jpg/405px-Watson_at_1982_Dutch_Grand_Prix.jpg"
                alt=""
                class="max-w-[100px] min-w-[100px] h-auto rounded-full border border-red-600"
              />
            </div>
            <div>
              <p class="opacity-80">
                Ele é o maior piloto de Grande Prêmio do momento.
              </p>
              <h4 class="text-2xl font-medium mt-5">~~ John Watson, 1993</h4>
            </div>
          </div>
        </div>

        <div class="col-span-2 md:col-span-1">
          <div
            class="bg-white dark:bg-slate-800 shadow-xl flex items-center h-full p-6 py-12"
          >
            <div class="mr-4">
              <img
                src="https://m.media-amazon.com/images/M/MV5BMjc4MjUxMzI4OF5BMl5BanBnXkFtZTgwNDMzNzQyMDE@._V1_FMjpg_UY740_.jpg"
                alt=""
                class="max-w-[100px] min-w-[100px] h-auto rounded-full border border-red-600"
              />
            </div>
            <div>
              <p class="opacity-80">
                O melhor piloto em Grandes Prémios, o melhor piloto do mundo de longe.
              </p>
              <h4 class="text-2xl font-medium mt-5">~~ James Hunt, 1993</h4>
            </div>
          </div>
        </div>

        <div class="col-span-2 md:col-span-1">
          <div
            class="bg-white dark:bg-slate-800 shadow-xl flex items-center h-full p-6 py-12"
          >
            <div class="mr-4">
              <img
              src="https://i.pinimg.com/736x/d6/d4/b1/d6d4b1e5cea00b5f20a6beec2275b933.jpg"
                alt=""
                class="max-w-[100px] min-w-[100px] h-auto rounded-full border border-red-600"
              />
            </div>
            <div>
              <p class="opacity-80">
                Senna é realmente o melhor piloto do mundo, não só o mais rápido.
              </p>
              <h4 class="text-2xl font-medium mt-5">~~ Jackie Stewart, 1991</h4>
            </div>
          </div>
        </div>

        

        <div class="col-span-2 md:col-span-1">
          <div
            class="bg-white dark:bg-slate-800 shadow-xl flex items-center h-full p-6 py-12"
          >
            <div class="mr-4">
              <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Gerhard_Berger_1991USA.jpg/300px-Gerhard_Berger_1991USA.jpg"
                alt=""
                class="max-w-[100px] min-w-[100px] h-auto rounded-full border border-red-600"
              />
            </div>
            <div>
              <p class="opacity-80">
                Tentei encontrar pontos fracos no Senna, mas não consegui. Ele está
          100% em tudo. Aprendi muito com ele, então para mim foram três anos
          bons. E ainda gosto do Senna. A gente se divertiu muito, uma boa
          relação.
              </p>
              <h4 class="text-2xl font-medium mt-5">~~ Gerhard Berger, 1993</h4>
            </div>
          </div>
        </div>
        
        

        <div class="col-span-2 md:col-span-1">
          <div
            class="bg-white dark:bg-slate-800 shadow-xl flex items-center h-full p-6 py-12"
          >
            <div class="mr-4">
              <img
                src="https://s3-eu-west-1.amazonaws.com/crash.net/styles/article/s3/90415.jpg?itok=vrHu0521"
                alt=""
                class="max-w-[100px] min-w-[100px] h-auto rounded-full border border-red-600"
              />
            </div>
            <div>
              <p class="opacity-80">
                Ayrton Senna é um gênio. Defino gênio como o lado certo do
          desequilíbrio. Ele é altamente desenvolvido a ponto de estar quase no
          limite. Foi por um triz.
              </p>
              <h4 class="text-2xl font-medium mt-5">~~ Martin Brundle, 1993</h4>
            </div>
          </div>
        </div>

        <div class="col-span-2 md:col-span-1">
          <div
            class="bg-white dark:bg-slate-800 shadow-xl flex items-center h-full p-6 py-12"
          >
            <div class="mr-4">
              <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Jackie_Stewart_2011_British_Grand_Prix.jpg/800px-Jackie_Stewart_2011_British_Grand_Prix.jpg"
                alt=""
                class="max-w-[100px] min-w-[100px] h-auto rounded-full border border-red-600"
              />
            </div>
            <div>
              <p class="opacity-80">
                Ele foi provavelmente o campeão mais rápido que já vi. Ele estava
          sempre esticando o elástico. Meu Deus foi rápido.
              </p>
              <h4 class="text-2xl font-medium mt-5">~~ Jackie Stewart, 2004</h4>
            </div>
          </div>
        </div>

        <div class="col-span-2 md:col-span-1">
          <div
            class="bg-white dark:bg-slate-800 shadow-xl flex items-center h-full p-6 py-12"
          >
            <div class="mr-4">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Frank_Williams_Formula_One.jpg/800px-Frank_Williams_Formula_One.jpg"
                alt=""
                class="max-w-[100px] min-w-[100px] h-auto rounded-full border border-red-600"
              />
            </div>
            <div>
              <p class="opacity-80">
                Sua perda é impossível de quantificar. Todo mundo que já o conheceu em
          qualquer capacidade sente que perdeu alguém muito especial.
              </p>
              <h4 class="text-2xl font-medium mt-5">~~ Frank Williams, 1994</h4>
            </div>
          </div>
        </div>

      </div>
      
    </div>

    <div>
      <div class="text-xl w-full font-bold mb-5 mt-15">
        Um Poema Automobilístico 
      </div>
    </div>

    <div class="flex mt-10">
      <blockquote
        class="py-2 mb-5 text-justify w-full flex flex-wrap flex-col bg-white text-indigo-700 border-l-8 italic border-[#0BAC5E] px-4 py-3"
      >
        No ronco dos motores, ecoa um nome sem igual, Ayrton Senna, estrela de
        um esporte sem rival. Na chuva, no sol, na pista, ele era o rei, Com
        cada volta perfeita, um legado ele construiu, ei! Brasileiro
        orgulhoso, de amarelo e verde vestido, Com garra e coragem, nunca foi
        vencido. Seu espírito guerreiro, na memória está gravado, Em cada
        coração brasileiro, eternamente celebrado. Trinta anos se passaram,
        desde que ele se foi, Mas em nossos corações, Senna sempre herói. Sua
        paixão pela vida, sua vontade de vencer, Nos ensina a cada dia, a
        nunca desistir ou ceder. Voando alto, como só ele sabia, Senna nos
        mostrou que a vida é uma ousadia. Que a paixão nos move, e o amor nos
        guia, E que cada desafio, é uma nova melodia. Ayrton Senna, um nome
        que ressoa com fervor, Um piloto, um ícone, um eterno campeão de
        valor. Sua história nos inspira, seu legado nos motiva, A perseguir
        nossos sonhos, com a mesma energia ativa.

        <span
          class="flex justify-end text-sm text-indigo-400 font-semibold pt-2"
          >~~ 30 Anos Ayrton Senna
        </span>
        
      </blockquote>
      
    </div>

    <div class="py-2 mt-5">
      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/oyr4UkyH0ds?si=zeg7hfjcXj8AsT13" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>-->
        <YouTube id="82JsL9bCOgQ" />
    </div>
    
  </div>

  <!--
  <div class="mt-8 primary">
    <a class="btn btn-primary grow md:grow-0 ml-4" href="https://senna.com/en/silverstone-festival-to-honour-ayrton-senna-in-2024/" target="_blank">
      Silverstone Festival to honour Ayrton Senna in 2024</a
    >
  </div>
  -->

  <div>
    <div class="text-xl w-full font-bold mb-5 mt-5">
      Outros Projetos <!-- {"</>"} -->
    </div>
  </div>

  <HorizontalCard
    title="Homenagem aos 30 anos de Ayrton Senna"
    img="https://res.cloudinary.com/dw8gudamo/image/upload/c_limit,w_1280/c_limit,w_1920/f_webp/q_auto/v1/ayrtonsenna/0_ayrtonsenna_0_qvluyt?_a=BAVAr0By0"
    desc="No dia 1 de maio de 1994, há 30 anos, Ayrton Senna deixa um legadohistórico. O piloto brasileiro foi vítima de um despiste fatal do GP San Marino, em Ímola, um acidente que mudou para sempre a Fórmula 1."
    url="https://ayrtonsenna-memories.netlify.app/"
    badge="In Memoriam Ayrton Senna"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Magic Senna - Memórias Ayrton Senna"
    img="https://ayrtonsenna-magic.vercel.app/images/01_ayrtonsenna_0.jpeg"
    desc="Ayrton Senna da Silva, um ícone do automobilismo, deixou um legado que transcende o esporte. Sua paixão, dedicação e espírito competitivo são lembrados e celebrados não só no Brasil, mas em todo o mundo."
    url="https://ayrtonsenna-magic.vercel.app/"
    badge="Magic Senna Memories"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Festival de Silverstone homenageará Ayrton Senna em 2024"
    img="/senna-silverstone-festival-2024.png"
    desc="O Festival de Silverstone deste verão (23 a 25 de agosto) homenageará um dos pilotos mais icônicos do automobilismo: Ayrton Senna. Em uma carreira recorde, o lendário brasileiro conquistou mais vitórias em corridas em Silverstone do que em qualquer outro circuito do mundo."
    url="https://senna-com.translate.goog/en/silverstone-festival-to-honour-ayrton-senna-in-2024/?_x_tr_sl=en&_x_tr_tl=pt&_x_tr_hl=pt-BR&_x_tr_pto=wapp"
    badge="Festival"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Ímola inicia programa de homenagem a Ayrton Senna"
    img="https://senna.com/wp-content/uploads/2024/04/expo_imola-1.jpg"
    desc="A cidade italiana de Ímola, na região de Emilia-Romagna, assumiu a liderança na homenagem aos 30 anos do legado de Ayrton Senna."
    url="https://senna-com.translate.goog/en/imola-starts-a-tribute-program-to-ayrton-senna/?_x_tr_sl=en&_x_tr_tl=pt&_x_tr_hl=pt-BR&_x_tr_pto=wapp"
    badge="Homenagem"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Da primeira vitória à mágica volta da pole em Mônaco – 10 momentos de brilho de Ayrton Senna"
    img="https://media.formula1.com/image/upload/f_auto,c_limit,w_960,q_auto/t_16by9South/f_auto/q_auto/fom-website/2024/Miscellaneous/Archive/GettyImages-927901708"
    desc="Exatos 30 anos após a morte do tricampeão mundial de F-1, relembramos 10 dos momentos mais marcantes da carreira marcante de Senna, que mostraram o talento brilhante que ele era."
    url="https://www.formula1.com/en/latest/article/ayrton-senna-10-moments-of-brilliance-f1.5IhUxFnCQEJEXjLTqwUUg0"
    badge="formula1.com"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Who was Ayrton Senna and why is he regarded as one of F1’s greatest drivers?"
    img="https://media.formula1.com/image/upload/f_auto,c_limit,w_960,q_auto/f_auto/q_auto/fom-website/2024/Miscellaneous/senna-overview-feature-header"
    desc="Ayrton Senna took the Formula 1 paddock by storm in a career that delivered three world titles and a host of records, only for his life to be tragically cut short by a fatal accident at Imola 30 years ago today."
    url="https://www.formula1.com/en/latest/article/who-was-ayrton-senna-and-why-is-he-regarded-as-one-of-f1s-greatest-drivers.2GZEdmgHd9mPeCae2n6n4K"
    badge="formula1.com"
  />

  <div>
    <div class="text-xl w-full font-bold mb-5 mt-5">
      Veja outros artigos relacionados
    </div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>

<style>
  h1 {
    color: #246249ff;
  }
  h2 {
    color: #2a3179ff;
  }
</style>
