---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="jorney">
  <div class="mb-5">
    <div class="text-xl w-full font-bold">
      Jornada no Automobilismo de Velocidade
    </div>
  </div>

  <div class="mb-5 text-justify">
    <p>
      Nasceu em São Paulo, no dia 21 de março de 1960, e morreu de maneira
      trágica em 1º de maio de 1994, após colidir com uma mureta de proteção no
      Grande Prêmio de San Marino, em Ímola. Seu velório foi um dos mais
      marcantes da história do Brasil, durou cerca de 22 horas e foi acompanhado
      por aproximadamente 240 mil pessoas.
    </p>

    <p class="mt-5">
      A carreira de Senna no automobilismo começou como a da maioria dos
      pilotos: no kart. Aos quatro anos, Ayrton ganhou o seu primeiro kart,
      construído pelo seu pai. O motor foi tirado de um cortador de grama, mas
      chegava aos 60 km/h. O kart foi montado pelo pai foi o principal
      "brinquedo" de Ayrton na infância.
    </p>

    <p class="mt-5">
      A partir dos sete anos de idade, Ayrton passou a dirigir um kart
      profissional, mas sem participar de competições. A primeira volta de Senna
      em um circuito de kart foi aos 11 anos, na chuva. Um ano depois, desmontou
      seu próprio kart para descobrir a função de cada peça e entender como
      poderia ser mais rápido.
    </p>
  </div>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">Infância e Adolescência</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="1973 [Kart]"
      subtitle="Categoria [Kart] em [1973] com [13 anos] em [São Paulo], [Campinas]"
    >
      Em 1973, aos 13 anos, Ayrton Senna participou da sua primeira corrida de
      kart, em um circuito improvisado na cidade de Campinas, São Paulo. Apesar
      de ser mais novo que os demais pilotos, liderou boa parte da corrida e
      chamou a atenção de quem assistia. Para muitos, Senna reinventou a arte de
      pilotar karts.
    </TimeLineElement>

    <TimeLineElement
      title="[1974] e [1976] - Campeonato Paulista"
      subtitle="Campeão em [Campeonato Paulista de Kart]"
    />

    <TimeLineElement
      title="[1978], [1979] e [1980] - Campeonato Paulista"
      subtitle="Campeão em [Campeonato Brasileiro de Kart]"
    />

    <TimeLineElement
      title="[1977] e [1980] - Sul-Americano"
      subtitle="Campeão em [Campeonato Sul-Americano de Kart]"
    />

    <TimeLineElement
      title="[1981] Fórmula Ford 1600 [Van Diemen]"
      subtitle="1981, Inglaterra"
    >
      Competindo pela equipe Van Diemen Racing. Ayrton foi campeão em seu
      primeiro ano. Seu desempenho foi tão surpreendende que Ralph Firman, chefe
      da equipe Van Diemen, afirmou que Senna seria um dia campeão mundial de
      Fórmula 1.
    </TimeLineElement>

    <TimeLineElement
      title="[1982] Fórmula 2000 [Rushen Green]"
      subtitle="1982, Inglaterra. Venceu 13 das 15 corridas e foi campeão"
    >
      Seu desempenho foi tão surpreendende que Ralph Firman, chefe da equipe Van
      Diemen, afirmou que Senna seria um dia campeão mundial de Fórmula 1.
    </TimeLineElement>

    <TimeLineElement
      title="[1983] Fórmula 3 [West Surrey]"
      subtitle="1983, Silverstone. Conquistou título numa acirrada luta com o inglês Martin Brundle"
    />
  </div>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">Fórmula 1++</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="[1984] Grande Prêmio do Brasil [Toleman]"
      subtitle="25 de março de 1984, Jacarepaguá, Rio de Janeiro. "
    >
      Senna queria fazer uma grande corrida no seu país, mas abandonou na oitava
      volta por uma falha no motor. No entanto, na segunda corrida, na África do
      Sul, chegou em sexto e marcou seu primeiro ponto na F1. Era o primeiro de
      614 que viriam.
    </TimeLineElement>

    <TimeLineElement title="[1985]-[1987]: [Lotus]" subtitle="">
      Na Lotus, em 1985, tinha como parceiro o italiano Elio De Angelis. Senna
      largou em quarto na sua primeira corrida pela nova equipe na abertura da
      temporada no Brasil, no circuito de Jacarepaguá, no Rio de Janeiro, mas
      abandonou a prova devido a problemas elétricos.
    </TimeLineElement>

    <TimeLineElement
      title="[1985] Grande Prêmio de Portugal"
      subtitle="21 de abril de 1985, Autódromo do Estoril. "
    >
      A primeira vitória de Senna na Fórmula 1 veio no dia 21 de abril de 1985,
      no Grande Prêmio de Portugal. Chovia bastante e Senna mostrou novamente
      toda a sua habilidade na pista molhada. A corrida foi interrompida quando
      havia apenas nove carros na pista, sendo Ayrton o primeiro.
    </TimeLineElement>

    <TimeLineElement
      title="[1985] Circuito de Spa-Francorchamps, Bélgica"
      subtitle="🏆 15 de setembro de 1985, Bélgica [Vitória Corrida 28]"
    />
    <TimeLineElement
      title="[1986] Circuito de Jerez, Espanha"
      subtitle="🏆 13 de abril de 1986, Espanha [Vitória Corrida 33]"
    />
    <TimeLineElement
      title="[1986] Circuito Urbano de Detroit"
      subtitle="🏆 22 de junho de 1986, Detroit [Vitória Corrida 38]"
    />

    <TimeLineElement
      title="[1986] Pilotagem para carros de rally"
      subtitle="[Vauxhall Nova 1.3], [Golf GTi] [Ford Sierra Cosworth RS] e [Ford Escort V6 3.4]"
    >
      Senna fez testes em carros de rally (ele dirigiu um Vauxhall Nova 1.3, um
      Golf GTi do Grupo A, um Ford Sierra Cosworth RS, um Ford Escort V6 3.4 de
      tração integral e um Austin Metro 6R4 do Grupo B - com o mesmo V6 que
      acabou no Jaguar XJ220), porém com apenas 250 cv. Os testes foram
      realizados no País de Gales e o trajeto escolhido tinha 2,4 km e fazia
      parte de uma região de florestas, usado em etapas especiais de ralis
      britânicos.
    </TimeLineElement>

    <TimeLineElement
      title="[1987] Circuito de Mônaco"
      subtitle="🏆 31 de maio de 1987, Mônaco [Vitória Corrida 51]"
    />
    <TimeLineElement
      title="[1987] Circuito Urbano de Detroit"
      subtitle="🏆 21 de junho de 1987, Detroit [Vitória Corrida 52]"
    />

    <TimeLineElement
      title="[1988]-[1993]: [McLaren]"
      subtitle="Um dos principais momentos da temporada de 1988 aconteceu em Mônaco"
    >
      Em 1988, as McLaren-Honda ostentavam os números 11 e 12, desta vez com a
      dupla Alain Prost e Ayrton Senna. Durante os treinos oficiais, Ayrton fez
      a pole position com uma vantagem de 1:427 para Alain Prost. Nos treinos,
      segundo o brasileiro, ele estava guiando em outra dimensão e, de certa
      forma, não tinha uma total consciência do que estava acontecendo. Na
      corrida, Ayrton liderava com uma margem de quase 1 minuto para o segundo
      colocado, o francês Alain Prost. No entanto, o tricampeão mundial acabou
      batendo na 66ª volta, dando a vitória ao adversário francês.
    </TimeLineElement>

    <TimeLineElement
      title="[1988] Grande Prêmio da Japão"
      subtitle="🏆 30 de outubro de 1988, Suzuka [Japão] [Vitória]"
    >
      No GP do Japão, Senna, que largava na pole, não conseguiu largar e caiu
      para 17ª posição. Entretanto, já nas primeiras voltas, Ayrton ultrapassou
      oito adversários. Na 28ª volta, Senna ultrapassou Prost e terminou ao
      final da prova com 13 segundos de vantagem para o francês, conquistando o
      título.
    </TimeLineElement>

    <TimeLineElement
      title="[1993] Grande Prêmio da Austrália"
      subtitle="🏆 7 de novembro de 1993, Adelaide, Austrália. "
    >
      Décima sexta e última etapa da temporada, nela o brasileiro Ayrton Senna,
      da McLaren-Ford, atingiu a 41ª (quadragésima primeira) e última vitória de
      sua carreira subindo ao pódio junto a Alain Prost e Damon Hill, pilotos da
      Williams-Renault. 41ª e última vitória de Ayrton Senna na categoria.
    </TimeLineElement>

    <TimeLineElement
      title="[1994] Williams"
      subtitle=""
    >
Senna já havia tentado entrar para a Williams em 1993, mas foi impedido por Prost, que vetou seu nome. Ayrton Senna se ofereceu para pilotar por nada, pois seu desejo era fazer parte da vencedora equipe Williams-Renault, mas foi impedido por uma cláusula no contrato do francês que impedia o brasileiro de entrar para a equipe (Ato declarado no Filme "Senna").

> A primeira corrida da temporada 1994 foi no Brasil, disputada em Interlagos, quando Senna fez a pole. Na corrida, Senna assumiu a ponta, mas Michael Schumacher com a Benetton tomou a liderança depois de passar Ayrton Senna nos boxes na volta 21. Senna, determinado a vencer no Brasil, perdeu o controle de sua Williams, rodou na curva da Junção, ficando parado na zebra e abandonando a prova na volta 55.[25] Durante os treinos para o Grande Prêmio do Brasil, algo muito raro aconteceu quando Senna narrou sua própria volta a bordo da Williams em transmissão ao vivo pela TV Globo.[77]

> A segunda prova foi no GP do Pacífico, disputado em Aida, no Japão, onde Senna novamente ganhou a pole, porém envolveu-se numa colisão já na primeira curva. Foi tocado atrás por Mika Häkkinen e sua corrida acabou definitivamente quando a Ferrari de Nicola Larini também bateu na sua Williams. Gerhard Berger, da Ferrari, terminou em segundo enquanto Schumacher venceu novamente.[25]
</TimeLineElement>

    <TimeLineElement
      title="[1994] Grande Prêmio de San Marino [Williams]"
      subtitle="✝️ 1º de maio de 1994, Autódromo Internacional Enzo e Dino Ferrari, Ímola [Itália]. "
    >
      Ayrton Senna liderava a corrida, com Schumacher logo atrás. Na sexta
      volta, uma quebra na barra de direção fez Senna perder o controle do carro
      quando passava pela curva Tamburello e chocou-se com uma mureta de
      proteção a quase 300 km/h. Com a batida, uma das rodas atingiu o capacete
      do piloto, afundando parte do seu crânio. O ídolo brasileiro foi levado
      para o hospital de helicóptero, mas não resistiu aos ferimentos. Ayrton
      Senna morreu no dia 1º de maio de 1994.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">
      Títulos Kart, Formulas 1600 / 2000 / 3
    </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Bicampeão Paulista de Kart: 1974; 1976</li>
    <li>Tricampeão Brasileiro de Kart: 1978; 1979; 1980</li>
    <li>Bicampeão Sulamericano de Kart: 1977; 1980</li>
    <li>Campeão de Fórmula Ford 1600: 1981</li>
    <li>Campeão de Fórmula Ford 2000: 1982</li>
    <li>Campeão de Fórmula 3 Britânica: 1983</li>
  </ul>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">Fórmula 1</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Tricampeão: 1988; 1990; 1991</li>
    <li>Vitórias: 41</li>
    <li>Bicampeão Sulamericano de Kart: 1977; 1980</li>
    <li>Pódios: 80</li>
    <li>Pole positions: 65</li>
    <li>Voltas mais rápidas: 19</li>
    <li>Grandes Prêmios: 161</li>
  </ul>
</BaseLayout>
