---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="jorney">
  <div class="mb-5">
    <div class="text-xl w-full font-bold">Jornada no Automobilismo de Velocidade</div>
  </div>

  <div class="mb-5 text-justify">
    <p>Nasceu em São Paulo, no dia 21 de março de 1960, e morreu de maneira trágica em 1º de maio de 1994, após colidir com uma mureta de proteção no Grande Prêmio de San Marino, em Ímola. Seu velório foi um dos mais marcantes da história do Brasil, durou cerca de 22 horas e foi acompanhado por aproximadamente 240 mil pessoas.</p>

    <p class="mt-5">A carreira de Senna no automobilismo começou como a da maioria dos pilotos: no kart. Aos quatro anos, Ayrton ganhou o seu primeiro kart, construído pelo seu pai. O motor foi tirado de um cortador de grama, mas chegava aos 60 km/h. O kart foi montado pelo pai foi o principal "brinquedo" de Ayrton na infância.</p>

    <p class="mt-5">A partir dos sete anos de idade, Ayrton passou a dirigir um kart profissional, mas sem participar de competições. A primeira volta de Senna em um circuito de kart foi aos 11 anos, na chuva. Um ano depois, desmontou seu próprio kart para descobrir a função de cada peça e entender como poderia ser mais rápido.</p>
        
  </div>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">Infância e Adolescência</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="1973 [Kart]"
      subtitle="Categoria [Kart] em [1973] com [13 anos] em [São Paulo], [Campinas]"
      >
      Em 1973, aos 13 anos, Ayrton Senna participou da sua primeira corrida de kart, em um circuito improvisado na cidade de Campinas, São Paulo. Apesar de ser mais novo que os demais pilotos, liderou boa parte da corrida e chamou a atenção de quem assistia. Para muitos, Senna reinventou a arte de pilotar karts.
    </TimeLineElement> 

    <TimeLineElement
      title="Campeonato Paulista de Kart"
      subtitle="Campeão em [1974] e [1976]">  
    </TimeLineElement>

    <TimeLineElement
      title="Campeonato Brasileiro de Kart"
      subtitle="Campeão em [1978], [1979] e [1980]">  
    </TimeLineElement>

    <TimeLineElement
      title="Campeonato Sul-Americano de Kart"
      subtitle="Campeão em [1977], [1980]">  
    </TimeLineElement>

    <TimeLineElement
      title="Fórmula Ford 1600 [Van Diemen]"
      subtitle="1981, Inglaterra"
      >  
      Competindo pela equipe Van Diemen Racing. Ayrton foi campeão em seu primeiro ano. Seu desempenho foi tão surpreendende que Ralph Firman, chefe da equipe Van Diemen, afirmou que Senna seria um dia campeão mundial de Fórmula 1.
    </TimeLineElement>

    <TimeLineElement
      title="Fórmula 2000 [Rushen Green]"
      subtitle="1982, Inglaterra. Venceu 13 das 15 corridas e foi campeão"
      >  
      Seu desempenho foi tão surpreendende que Ralph Firman, chefe da equipe Van Diemen, afirmou que Senna seria um dia campeão mundial de Fórmula 1.
    </TimeLineElement>

    <TimeLineElement
      title="Fórmula 3 [West Surrey]"
      subtitle="1983, Silverstone. Conquistou título numa acirrada luta com o inglês Martin Brundle"
      >  
    </TimeLineElement>
</div>

<div class="mb-5">
  <div class="text-xl w-full font-bold">Fórmula 1</div>
</div>

<div class="time-line-container grid gap-4 mb-10">

  <TimeLineElement
      title="Fórmula 3 [West Surrey]"
      subtitle="1983, Silverstone. Conquistou título numa acirrada luta com o inglês Martin Brundle"
      >  
    </TimeLineElement>

"Ayrton Senna estreou na Fórmula 1 em 25 de março de 1984, no Grande Prêmio do Brasil, no extinto circuito de Jacarepaguá, no Rio de Janeiro. Senna queria fazer uma grande corrida no seu país, mas abandonou na oitava volta por uma falha no motor. No entanto, na segunda corrida, na África do Sul, chegou em sexto e marcou seu primeiro ponto na F1. Era o primeiro de 614 que viriam."

Veja mais sobre "Ayrton Senna da Silva" em: https://brasilescola.uol.com.br/biografia/airton-senna-silva.htm


"A primeira vitória de Senna na Fórmula 1 veio no dia 21 de abril de 1985, no Grande Prêmio de Portugal. Chovia bastante e Senna mostrou novamente toda a sua habilidade na pista molhada. A corrida foi interrompida quando havia apenas nove carros na pista, sendo Ayrton o primeiro."

Veja mais sobre "Ayrton Senna da Silva" em: https://brasilescola.uol.com.br/biografia/airton-senna-silva.htm



"Ayrton Senna liderava a corrida, com Schumacher logo atrás. Na sexta volta, uma quebra na barra de direção fez Senna perder o controle do carro quando passava pela curva Tamburello e chocou-se com uma mureta de proteção a quase 300 km/h. Com a batida, uma das rodas atingiu o capacete do piloto, afundando parte do seu crânio. O ídolo brasileiro foi levado para o hospital de helicóptero, mas não resistiu aos ferimentos. Ayrton Senna morreu no dia 1º de maio de 1994."

Veja mais sobre "Ayrton Senna da Silva" em: https://brasilescola.uol.com.br/biografia/airton-senna-silva.htm

  </div>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>
 
  <div class="mb-5">
    <div class="text-xl w-full font-bold">Títulos Kart, Formulas 1600 / 2000 / 3 </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Bicampeão Paulista de Kart: 1974; 1976</li>
    <li>Tricampeão Brasileiro de Kart: 1978; 1979; 1980</li>
    <li>Bicampeão Sulamericano de Kart: 1977; 1980</li>
    <li>Campeão de Fórmula Ford 1600: 1981</li>
    <li>Campeão de Fórmula Ford 2000: 1982</li>
    <li>Campeão de Fórmula 3 Britânica: 1983</li> 
  </ul>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">Fórmula 1 </div>
  </div>
 
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Tricampeão: 1988; 1990; 1991</li>
    <li>Vitórias: 41</li>
    <li>Bicampeão Sulamericano de Kart: 1977; 1980</li>
    <li>Pódios: 80</li>
    <li>Voltas mais rápidas: 19</li>
    <li>Corridas disputadas: 161</li>
  </ul>
</BaseLayout>
