---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="jorney">
  <div class="mb-5">
    <div class="text-xl w-full font-bold">
      Jornada no Automobilismo de Velocidade
    </div>
  </div>

  <div class="mb-5 text-justify">
    <p>
      Nasceu em São Paulo, no dia 21 de março de 1960, e morreu de maneira
      trágica em 1º de maio de 1994, após colidir com uma mureta de proteção no
      Grande Prêmio de San Marino, em Ímola. Seu velório foi um dos mais
      marcantes da história do Brasil, durou cerca de 22 horas e foi acompanhado
      por aproximadamente 240 mil pessoas.
    </p>

    <p class="mt-5">
      A carreira de Senna no automobilismo começou como a da maioria dos
      pilotos: no kart. Aos quatro anos, Ayrton ganhou o seu primeiro kart,
      construído pelo seu pai. O motor foi tirado de um cortador de grama, mas
      chegava aos 60 km/h. O kart foi montado pelo pai foi o principal
      "brinquedo" de Ayrton na infância.
    </p>

    <p class="mt-5">
      A partir dos sete anos de idade, Ayrton passou a dirigir um kart
      profissional, mas sem participar de competições. A primeira volta de Senna
      em um circuito de kart foi aos 11 anos, na chuva. Um ano depois, desmontou
      seu próprio kart para descobrir a função de cada peça e entender como
      poderia ser mais rápido.
    </p>
  </div>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">Infância e Adolescência</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="1973 [Kart]"
      subtitle="Categoria [Kart] em [1973] com [13 anos] em [São Paulo], [Campinas]"
    >
      Em 1973, aos 13 anos, Ayrton Senna participou da sua primeira corrida de
      kart, em um circuito improvisado na cidade de Campinas, São Paulo. Apesar
      de ser mais novo que os demais pilotos, liderou boa parte da corrida e
      chamou a atenção de quem assistia. Para muitos, Senna reinventou a arte de
      pilotar karts.
    </TimeLineElement>

    <TimeLineElement
      title="[1974] e [1976] - Campeonato Paulista"
      subtitle="Campeão em [Campeonato Paulista de Kart]"
    />

    <TimeLineElement
      title="[1978], [1979] e [1980] - Campeonato Paulista"
      subtitle="Campeão em [Campeonato Brasileiro de Kart]"
    />

    <TimeLineElement
      title="[1977] e [1980] - Sul-Americano"
      subtitle="Campeão em [Campeonato Sul-Americano de Kart]"
    />

    <TimeLineElement
      title="[1981] Fórmula Ford 1600 [Van Diemen]"
      subtitle="1981, Inglaterra"
    >
      Competindo pela equipe Van Diemen Racing. Ayrton foi campeão em seu
      primeiro ano. Seu desempenho foi tão surpreendende que Ralph Firman, chefe
      da equipe Van Diemen, afirmou que Senna seria um dia campeão mundial de
      Fórmula 1.
    </TimeLineElement>

    <TimeLineElement
      title="[1982] Fórmula 2000 [Rushen Green]"
      subtitle="1982, Inglaterra. Venceu 13 das 15 corridas e foi campeão"
    >
      Seu desempenho foi tão surpreendende que Ralph Firman, chefe da equipe Van
      Diemen, afirmou que Senna seria um dia campeão mundial de Fórmula 1.
    </TimeLineElement>

    <TimeLineElement
      title="[1983] Fórmula 3 [West Surrey]"
      subtitle="1983, Silverstone. Conquistou título numa acirrada luta com o inglês Martin Brundle"
    />
  </div>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">Fórmula 1++</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="1984 - Toleman TG184"
      subtitle="Toleman TG184"
    >
    <img src="/toleman.jpg" alt="1984 - Toleman TG184" class="float-left mr-2 max-w-full md:max-w-[15rem] md:min-h-[10rem] md:max-h-[12rem] rounded-lg" width="750" height="422" loading="lazy" decoding="async" data-astro-source-file="D:/app_aragua/_developer/timeline-astro/node_modules/.pnpm/astro@4.0.2/node_modules/astro/components/Image.astro" data-astro-source-loc="34:2">
    <div class=" mb-4 text-justify">    
    Senna estreou na Fórmula 1 em 1984 ao se juntar à Toleman, uma equipe relativamente nova, usando pneus Pirelli menos competitivos. Seu companheiro de equipe era o venezuelano Johnny Cecotto, ex-campeão mundial de motovelocidade. Ele marcou seu primeiro ponto no Campeonato Mundial em sua segunda corrida no GP da África do Sul em Kyalami com graves espasmos musculares. O melhor resultado de Senna na temporada foi no GP de Mônaco, onde terminou em segundo, que foi seu primeiro pódio na Fórmula 1. Naquela temporada, Senna conquistou mais dois pódios – terceiro nos GPs da Inglaterra e de Portugal – e ficou em 9º lugar no Mundial de Pilotos, com 13 pontos no geral.
  </div>
  <div class="mb-4 text-justify">
    Ele não participou do GP da Itália depois que foi suspenso pela Toleman por quebra de contrato ao assinar com a Lotus para 1985 sem informar a equipe primeiro. Senna também disputou duas corridas de alto nível fora da Fórmula 1: os 1000 km de Nürburgring, onde pilotou um Porsche 956 da Joest Racing e terminou em 8º lugar. bem como uma corrida de exposição para celebrar a abertura do novo Nürburgring. Esta corrida envolveu vários pilotos de Fórmula 1 do passado e do presente, incluindo Stirling Moss e o ex-campeão mundial Jack Brabham, Denny Hulme e Alan Jones, dirigindo carros esportivos idênticos Mercedes 190E 2.3–16. Prost largou da pole position, mas Senna assumiu a liderança na primeira curva da primeira volta, vencendo à frente de Niki Lauda e Carlos Reutemann.
  </div>
    </TimeLineElement>

    <TimeLineElement
      title="[1984] Grande Prêmio do Brasil [Toleman]"
      subtitle="25 de março de 1984, Jacarepaguá, Rio de Janeiro. "
    >
      Senna queria fazer uma grande corrida no seu país, mas abandonou na oitava
      volta por uma falha no motor. No entanto, na segunda corrida, na África do
      Sul, chegou em sexto e marcou seu primeiro ponto na F1. Era o primeiro de
      614 que viriam.
    </TimeLineElement>

    <TimeLineElement title="[1985]-[1987]: [Lotus]" subtitle="Lotus 97T">
      <img src="/lotus_senna1985.jpg" alt="1985 - Lotus 97T" class="float-left mr-2 max-w-full md:max-w-[15rem] md:min-h-[10rem] md:max-h-[12rem] rounded-lg" width="750" height="422" loading="lazy" decoding="async" data-astro-source-file="D:/app_aragua/_developer/timeline-astro/node_modules/.pnpm/astro@4.0.2/node_modules/astro/components/Image.astro" data-astro-source-loc="34:2">
      <div class=" mb-4 text-justify">    
        Senna foi parceiro em seu primeiro ano na Lotus-Renault pelo italiano Elio de Angelis. Ele conquistou sua primeira pole position de sua carreira na Fórmula 1, que converteu em sua primeira vitória na corrida, que foi realizada em condições muito molhadas. A corrida foi o primeiro 'Grand Slam' da carreira de Senna, que também cravou a volta mais rápida da prova. Ele não terminaria nos pontos novamente até chegar em segundo no GP da Áustria, apesar de ter conquistado a pole mais três vezes no intervalo. 
      </div>
      <div class="mb-4 text-justify">
        Seguiram-se mais dois pódios na Holanda e em Itália, antes de somar a sua segunda vitória, novamente em condições molhadas, no Circuito de Spa-Francorchamps, na Bélgica. A relação de Senna com De Angelis azedou ao longo da temporada, já que ambos os pilotos exigiam status de piloto de ponta dentro da Lotus e, depois de passar seis anos na equipe, De Angelis partiu para a Brabham no fim do ano, convencido de que a Lotus estava se concentrando no brasileiro. Senna e De Angelis terminaram a temporada em 4º e 5º, respectivamente, no ranking de pilotos. separados por cinco pontos no rápido, mas pouco confiável 97T.
        </div>
    </TimeLineElement>

    <TimeLineElement
      title="[1985] Grande Prêmio de Portugal"
      subtitle="21 de abril de 1985, Autódromo do Estoril. "
    >
      A primeira vitória de Senna na Fórmula 1 veio no dia 21 de abril de 1985,
      no Grande Prêmio de Portugal. Chovia bastante e Senna mostrou novamente
      toda a sua habilidade na pista molhada. A corrida foi interrompida quando
      havia apenas nove carros na pista, sendo Ayrton o primeiro.
    </TimeLineElement>

    <TimeLineElement
      title="[1985] Circuito de Spa-Francorchamps, Bélgica"
      subtitle="🏆 15 de setembro de 1985, Bélgica [Vitória Corrida 28]"
    />

    <TimeLineElement title="1986 - Lotus 98T" subtitle="Lotus 98T">
      <img src="/lotus_98t.jpg" alt="1986 - Lotus 98T" class="float-left mr-2 max-w-full md:max-w-[15rem] md:min-h-[10rem] md:max-h-[12rem] rounded-lg" width="750" height="422" loading="lazy" decoding="async" data-astro-source-file="D:/app_aragua/_developer/timeline-astro/node_modules/.pnpm/astro@4.0.2/node_modules/astro/components/Image.astro" data-astro-source-loc="34:2">
      <div class=" mb-4 text-justify">    
        De Angelis foi substituído na Lotus pelo escocês Johnny Dumfries após Senna vetar Derek Warwick juntando-se à equipe, dizendo que a Lotus não poderia correr carros competitivos para dois pilotos de ponta ao mesmo tempo. Senna começou bem a temporada, ficando em segundo lugar no Brasil, atrás da Williams-Honda de Nelson Piquet, e vencendo o GP da Espanha por apenas 0s014 do companheiro de equipe de Piquet, Nigel Mansell, em uma das chegadas mais próximas da história da Fórmula 1 se viu liderando o Campeonato Mundial após duas corridas. 
      </div>
      <div class="mb-4 text-justify">
        No entanto, a baixa confiabilidade, especialmente na segunda metade da temporada, o fez ficar atrás da dupla da Williams formada por Mansell e Piquet, além do atual e eventual campeão, Alain Prost. No entanto, Senna foi mais uma vez o melhor classificado, com oito poles, com mais seis pódios e mais uma vitória no GP de Detroit. terminando assim a temporada novamente em quarto lugar na classificação de pilotos, com um total de 55 pontos.
        </div>
    </TimeLineElement>

    <TimeLineElement
      title="[1986] Circuito de Jerez, Espanha"
      subtitle="🏆 13 de abril de 1986, Espanha [Vitória Corrida 33]"
    />
    <TimeLineElement
      title="[1986] Circuito Urbano de Detroit"
      subtitle="🏆 22 de junho de 1986, Detroit [Vitória Corrida 38]"
    />

    <TimeLineElement
      title="[1986] Pilotagem para carros de rally"
      subtitle="[Vauxhall Nova 1.3], [Golf GTi] [Ford Sierra Cosworth RS] e [Ford Escort V6 3.4]"
    >
      Senna fez testes em carros de rally (ele dirigiu um Vauxhall Nova 1.3, um
      Golf GTi do Grupo A, um Ford Sierra Cosworth RS, um Ford Escort V6 3.4 de
      tração integral e um Austin Metro 6R4 do Grupo B - com o mesmo V6 que
      acabou no Jaguar XJ220), porém com apenas 250 cv. Os testes foram
      realizados no País de Gales e o trajeto escolhido tinha 2,4 km e fazia
      parte de uma região de florestas, usado em etapas especiais de ralis
      britânicos.
    </TimeLineElement>

    <TimeLineElement title="1987 - Lotus 99T" subtitle="Lotus 99T">
      <img src="/lotus_99t.jpg" alt="1987 - Lotus 99T" class="float-left mr-2 max-w-full md:max-w-[15rem] md:min-h-[10rem] md:max-h-[12rem] rounded-lg" width="750" height="422" loading="lazy" decoding="async" data-astro-source-file="D:/app_aragua/_developer/timeline-astro/node_modules/.pnpm/astro@4.0.2/node_modules/astro/components/Image.astro" data-astro-source-loc="34:2">
      <div class=" mb-4 text-justify">    
        A equipe Lotus teve um novo contrato de motor em 1987, rodando os mesmos motores Honda V6 turbo como A Williams havia vencido o Campeonato de Construtores do ano anterior, e com eles veio um novo companheiro de equipe, o japonês Satoru Nakajima, de 34 anos. A equipe garantiu a Senna tratamento contratualmente preferencial sobre Nakajima na alocação dos equipamentos. Senna começou a temporada com sortes mistas: um pódio no GP de San Marino foi temperado por polêmicas na corrida seguinte, em Spa-Francorchamps, onde colidiu com Mansell, e depois nos boxes um inglês irritado agarrou Senna pela garganta e teve que ser contido pelos mecânicos da Lotus. 
      </div>
      <div class="mb-4 text-justify">
        Senna venceu duas corridas seguidas, o que o ajudou a assumir a liderança do Mundial: o Mônaco Grand Prix (a primeira de seu recorde de seis vitórias no Principado) e o GP de Detroit, seu segundo vitória em dois anos no circuito de rua de Michigan e a primeira de um carro de F1 com suspensão ativa. No entanto, os carros da Williams tinham a vantagem sobre o resto do pelotão. No GP da Inglaterra, Mansell e Piquet bateram as Lotus de Senna e Nakajima, que terminaram em 3º e 4º, respectivamente. Senna ficou insatisfeito com suas chances na Lotus e em Monza foi anunciado que ele se juntaria à McLaren para 1988. Senna terminou a temporada forte, ficando em segundo lugar nas duas últimas corridas no Japão e na Austrália, no entanto, o exame pós-corrida na corrida final descobriu que os dutos de freio de sua Lotus eram mais largos do que o permitido pelo regulamento e ele foi desclassificado, levando sua última e mais bem sucedida temporada com a Lotus a um final azedo. Senna foi o terceiro colocado na classificação final, com 57 pontos, com seis pódios e apenas uma pole position.
        </div>
    </TimeLineElement>

    <TimeLineElement
      title="[1987] Circuito de Mônaco"
      subtitle="🏆 31 de maio de 1987, Mônaco [Vitória Corrida 51]"
    />
    <TimeLineElement
      title="[1987] Circuito Urbano de Detroit"
      subtitle="🏆 21 de junho de 1987, Detroit [Vitória Corrida 52]"
    />

    <TimeLineElement
      title="[1988]-[1993]: [McLaren]"
      subtitle="1988 - McLaren MP4/4"
    >
    <img src="/mclaren_mp4-4.jpg" alt="1988 - McLaren MP4/4" class="float-left mr-2 max-w-full md:max-w-[15rem] md:min-h-[10rem] md:max-h-[12rem] rounded-lg" width="750" height="422" loading="lazy" decoding="async" data-astro-source-file="D:/app_aragua/_developer/timeline-astro/node_modules/.pnpm/astro@4.0.2/node_modules/astro/components/Image.astro" data-astro-source-loc="34:2">
      <div class=" mb-4 text-justify">    
        Em 1988, Senna ingressou na McLaren, com a aprovação do piloto número um da McLaren e então bicampeão mundial, Alain Prost. As bases para uma competição acirrada entre Senna e Prost foram lançadas, culminando em uma série de incidentes dramáticos entre os dois nos cinco anos seguintes. Um incidente notável do ano foi no GP de Mônaco, onde Senna superou Prost por 1,4 segundo e liderou a maior parte da corrida antes de bater na volta 67. Em vez de voltar para os boxes, Senna voltou para seu apartamento e não entrou em contato com a equipe até entrar nos boxes, pois eles estavam fazendo as malas mais tarde naquela noite. 
      </div>
      <div class="mb-4 text-justify">
        Como as câmeras de televisão não haviam registrado seu acidente, o chefe da equipe, Ron Dennis, não sabia o que havia causado seu DNF até então, embora Prost especulasse que, a julgar pelas marcas de pneus, parecia que Senna havia cortado a barreira interna em Portiers, o que o jogou no guard rail externo. No GP de Portugal de 1988, Prost largou um pouco mais rápido que Senna, mas o brasileiro mergulhou na primeira curva à frente. Prost respondeu e foi passar Senna no final da primeira volta. Senna desviou para bloquear Prost, forçando o francês a quase bater no muro dos boxes a 290 km/h (180 mph). Prost manteve o pé baixo e logo colocou Senna na primeira curva e começou a se afastar. No debriefing da equipe pós-corrida, Prost expressou sua raiva com o movimento que levou Senna a pedir desculpas a Prost pelo incidente. Por fim, a dupla venceu 15 das 16 corridas com a McLaren MP4/4 em 1988, com Senna saindo na frente, conquistando seu primeiro título mundial de Fórmula 1 com oito vitórias contra sete de Prost. Prost marcou mais pontos ao longo da temporada, mas teve que cair três segundos lugares, já que apenas as 11 melhores pontuações contavam.
      </div>
      <div class="mb-4 text-justify">  
      Em 1988, as McLaren-Honda ostentavam os números 11 e 12, desta vez com a
      dupla Alain Prost e Ayrton Senna. Durante os treinos oficiais, Ayrton fez
      a pole position com uma vantagem de 1:427 para Alain Prost. Nos treinos,
      segundo o brasileiro, ele estava guiando em outra dimensão e, de certa
      forma, não tinha uma total consciência do que estava acontecendo. Na
      corrida, Ayrton liderava com uma margem de quase 1 minuto para o segundo
      colocado, o francês Alain Prost. No entanto, o tricampeão mundial acabou
      batendo na 66ª volta, dando a vitória ao adversário francês.
    </div>
    </TimeLineElement>

    <TimeLineElement
      title="[1988] Grande Prêmio da Japão"
      subtitle="🏆 30 de outubro de 1988, Suzuka [Japão] [Vitória]"
    >
      No GP do Japão, Senna, que largava na pole, não conseguiu largar e caiu
      para 17ª posição. Entretanto, já nas primeiras voltas, Ayrton ultrapassou
      oito adversários. Na 28ª volta, Senna ultrapassou Prost e terminou ao
      final da prova com 13 segundos de vantagem para o francês, conquistando o
      título.
    </TimeLineElement>

    <TimeLineElement
      title="1989 - McLaren MP4/5"
      subtitle="McLaren MP4/5"
    >
    <img src="/senna-prost_mp4-5.jpg" alt="1989 - McLaren MP4/5" class="float-left mr-2 max-w-full md:max-w-[15rem] md:min-h-[10rem] md:max-h-[12rem] rounded-lg" width="750" height="422" loading="lazy" decoding="async" data-astro-source-file="D:/app_aragua/_developer/timeline-astro/node_modules/.pnpm/astro@4.0.2/node_modules/astro/components/Image.astro" data-astro-source-loc="34:2">
      <div class=" mb-4 text-justify">    
        No ano seguinte, a rivalidade entre Senna e Prost se intensificou em inúmeras batalhas na pista e uma guerra psicológica fora dela. A tensão e a desconfiança entre os dois pilotos aumentaram quando Senna ultrapassou Prost na relargada do GP de San Marino, um movimento que Prost alegou violar um acordo pré-corrida (Senna negou a existência de qualquer acordo, embora a história de Prost tenha sido apoiada por John Hogan, do principal patrocinador da equipe, Marlboro). Senna assumiu a liderança precoce do campeonato com vitórias em San Marino, Mônaco e México. 
      </div>
      <div class="mb-4 text-justify">
        Senna também conseguiu a proeza de liderar todas as voltas dessas corridas, o que não foi igualado até Sebastian Vettel em 2012. Senna também conseguiu vencer na Alemanha, Bélgica e Espanha. No entanto, a falta de confiabilidade em Phoenix, Canadá, França, Grã-Bretanha e Itália, juntamente com colisões no Brasil e em Portugal, balançaram o título a favor de Prost. Prost conquistou o título mundial de 1989 após uma colisão com Senna no circuito de Suzuka, no Japão, a penúltima corrida da temporada, que Senna precisava vencer para se manter na disputa pelo título. 
      </div>
      <div class="mb-4 text-justify">  
        Prost conseguiu sair do grid mais rápido que Senna ao retirar a aba da maca de seu carro, que não era do conhecimento de Senna. Essa redução do downforce aerodinâmico tornou o carro de Prost mais rápido nas retas, mas mais lento nas curvas - uma escolha inteligente para dificultar ainda mais a passagem de Senna em um circuito já difícil de passar. Na volta 46, Senna finalmente chegou ao lado de Prost e tentou uma ultrapassagem por dentro na última chicane. Prost virou à direita na curva seguinte, cortando Senna e enroscando rodas com ele. A colisão fez com que as duas McLaren parassem na pista de escape. Prost abandonou a corrida naquele momento, enquanto Senna pediu aos comissários um push-start, que ele recebeu, e prosseguiu com a corrida após um pit stop para substituir o nariz danificado em seu carro. Senna venceu a corrida, mas foi desclassificado por receber um push start, cortar a chicane após a colisão com Prost e por cruzar para o pit-lane que não fazia parte da pista. Senna terminou a temporada em segundo lugar, com seis vitórias e um segundo lugar. Prost trocou a McLaren pela rival Ferrari no ano seguinte.
    </div>
    </TimeLineElement>

    <TimeLineElement
      title="1990 - McLaren MP4/5B"
      subtitle="McLaren MP4/5B"
    >
    <img src="/mclaren_mp4_5B.jpg" alt="1990 - McLaren MP4/5B" class="float-left mr-2 max-w-full md:max-w-[15rem] md:min-h-[10rem] md:max-h-[12rem] rounded-lg" width="750" height="422" loading="lazy" decoding="async" data-astro-source-file="D:/app_aragua/_developer/timeline-astro/node_modules/.pnpm/astro@4.0.2/node_modules/astro/components/Image.astro" data-astro-source-loc="34:2">
      <div class=" mb-4 text-justify">    
        Em 1990, Senna assumiu a liderança do campeonato com seis vitórias, dois segundos lugares e três terceiros. Com a ida de Prost para a Ferrari, ele também teve um novo companheiro de equipe no austríaco Gerhard Berger. Quando a temporada chegou ao seu último quarto, no entanto, Alain Prost em sua Ferrari subiu para o desafio com cinco vitórias, incluindo uma vitória crucial na Espanha, onde ele e seu companheiro de equipe Nigel Mansell terminaram em 1-2 para a Scuderia. Senna havia saído com o radiador danificado e a diferença entre Senna e Prost foi reduzida para 9 pontos faltando duas corridas. 
      </div>
      <div class="mb-4 text-justify">
        Na penúltima etapa do campeonato no Japão, em Suzuka, onde Senna e Prost colidiram no ano anterior, Senna fez a pole à frente de Prost. Antes da classificação, Senna buscou garantias dos organizadores para levar a pole position para o lado limpo da pista. Após a classificação, o presidente da FIA, Balestre, negou o pedido de Senna, deixando Senna largar do lado direito sujo, favorecendo Prost na esquerda. Além disso, como revelado pelo jornalista de F-1 Maurice Hamilton, a FIA havia alertado que cruzar a linha amarela da saída dos boxes à direita para se posicionar melhor na primeira curva não teria sido apropriado, enfurecendo ainda mais Senna. No início da corrida, Prost largou na frente de Senna, que imediatamente tentou repassar Prost na primeira curva. Enquanto Prost rodava, Senna mantinha o pé no acelerador e os carros colidiram a 270 km/h (170 mph) e saíram da corrida, tornando Senna campeão mundial.
    </div>
    </TimeLineElement>

    <TimeLineElement
      title="1991 - McLaren MP4/6"
      subtitle="McLaren MP4/6"
    >
    <img src="/mclaren_mp4-6_k.jpg" alt="1991 - McLaren MP4/6" class="float-left mr-2 max-w-full md:max-w-[15rem] md:min-h-[10rem] md:max-h-[12rem] rounded-lg" width="750" height="422" loading="lazy" decoding="async" data-astro-source-file="D:/app_aragua/_developer/timeline-astro/node_modules/.pnpm/astro@4.0.2/node_modules/astro/components/Image.astro" data-astro-source-loc="34:2">
      <div class=" mb-4 text-justify">    
        Em 1991, Senna tornou-se o mais jovem tricampeão mundial, conquistando sete vitórias e aumentando seu recorde de pole position para 60 em 127 provas. Prost, por causa da queda de desempenho na Ferrari, que marcou a história da equipe, não era mais um competidor sério. Nos testes de pré-temporada, Senna deixou a público dúvidas sobre a competitividade do carro com o novo Honda V12, afirmando que o motor não era tão potente quanto o V10 do ano anterior. Senna venceu as quatro primeiras corridas, enquanto seus rivais lutavam para igualar seu ritmo e confiabilidade. 
      </div>
      <div class="mb-4 text-justify">
        No meio da temporada, Nigel Mansell na Williams-Renault foi capaz de colocar um desafio. Durante a classificação para o GP do México, ele tentou tomar a curva Peraltada de 180 graus (a curva mais rápida do circuito da Cidade do México) mais rápido do que o normal, acabando saindo da pista e capotando sobre o carro após bater em uma barreira de pneus. No GP da Inglaterra, em Silverstone, o carro de Senna parou na última volta, mas ele não ficou parado no circuito, já que Mansell, vencedor da corrida, parou em sua volta de parada e permitiu que o brasileiro voltasse aos boxes com o side-pod da Williams. Durante o GP da Espanha, Senna e Mansell foram roda a roda com apenas centímetros de sobra, a mais de 320 km/h (200 mph) na reta principal, corrida que o britânico acabou vencendo. Embora a consistência de Senna, a competitividade do carro e a falta de confiabilidade da Williams no início da temporada lhe dessem vantagem antecipada. Outras melhorias do programa de desenvolvimento de motores da Honda no final da temporada, permitiram que ele fizesse um esforço no final da temporada, e ele venceu mais três corridas para garantir o campeonato, que foi resolvido no Japão quando Mansell (que precisava vencer), saiu na primeira curva enquanto corria em terceiro e encalhou sua Williams na caixa de brita.
    </div>
    </TimeLineElement>

    <TimeLineElement title="1992 - McLaren MP4/7A" subtitle="McLaren MP4/7A">
      <img src="/mclaren_mp4-7.jpg" alt="1992 - McLaren MP4/7A" class="float-left mr-2 max-w-full md:max-w-[15rem] md:min-h-[10rem] md:max-h-[12rem] rounded-lg" width="750" height="422" loading="lazy" decoding="async" data-astro-source-file="D:/app_aragua/_developer/timeline-astro/node_modules/.pnpm/astro@4.0.2/node_modules/astro/components/Image.astro" data-astro-source-loc="34:2">
      <div class=" mb-4 text-justify">    
        O novo carro da McLaren para a temporada tinha várias deficiências. Houve um atraso para colocar o novo modelo em funcionamento (estreou na terceira corrida da temporada, o GP do Brasil) e, além de não ter suspensão ativa, o novo carro sofria com problemas de confiabilidade e era imprevisível em curvas rápidas, enquanto seu motor Honda V12 não era mais o mais potente do circuito. Durante os treinos para a segunda corrida da temporada no México, em um circuito, Senna criticou fortemente seu carro, que bateu em uma lombada que causou perda de downforce e forte batida em um muro de contenção de concreto.
      </div>
      <div class="mb-4 text-justify">
        Ele teve que ser retirado do carro pelos médicos do circuito; embora ele tenha corrido no dia seguinte, embora abandonando a corrida devido a uma falha na caixa de câmbio. Senna conquistou vitórias em Mônaco, Hungria e Itália naquele ano. Durante a classificação para o GP da Bélgica, o francês Érik Comas bateu forte e Senna foi o primeiro a chegar ao local. Ele desceu do carro e correu pela pista para ajudar o francês, desrespeitando sua própria segurança na tentativa de ajudar um colega piloto. Mais tarde, foi visitar Comas no hospital. Suas ações ganharam elogios universais daqueles na Fórmula 1 e pareciam suavizar sua imagem dura. Senna terminou o campeonato na quarta colocação geral, atrás da dupla Mansell e Riccardo Patrese, da Williams, e Michael Schumacher, da Benetton. A relação de Senna com Schumacher se deteriorou ao longo de 1992. No GP do Brasil, Schumacher acusou Senna de "brincar" ao tentar ultrapassar Senna, que teve um problema com seu motor. No GP da França, Schumacher colidiu com Senna, resultando na aposentadoria de Senna. Mais tarde, Senna confrontou Schumacher, que admitiu a responsabilidade pelo acidente. Em um treino de testes para o GP da Alemanha, Senna e Schumacher tiveram um confronto nos boxes, com Senna agarrando Schumacher pelo colarinho e acusando-o de colocá-lo em perigo ao bloqueá-lo na pista.
        </div>
    </TimeLineElement>

    <TimeLineElement title="1993 - McLaren MP4/8" subtitle="McLaren MP4/8">
      <img src="/mclaren_mp4_8_1.jpg" alt="1993 - McLaren MP4/8" class="float-left mr-2 max-w-full md:max-w-[15rem] md:min-h-[10rem] md:max-h-[12rem] rounded-lg" width="750" height="422" loading="lazy" decoding="async" data-astro-source-file="D:/app_aragua/_developer/timeline-astro/node_modules/.pnpm/astro@4.0.2/node_modules/astro/components/Image.astro" data-astro-source-loc="34:2">
      <div class=" mb-4 text-justify">    
        Para 1993, a McLaren foi forçada a aceitar um fornecimento de motores Ford V8, que eram duas especificações atrás da então equipe de fábrica da Ford, a Benetton. A McLaren esperava compensar a potência inferior com sofisticação mecânica, incluindo um sistema de suspensão ativa eficaz – embora o sistema em si se mostrasse difícil em alguns momentos, especialmente para o novo companheiro de equipe Michael Andretti. Depois de pilotar o carro de 1993 da McLaren, o McLaren MP4/8, Senna concluiu que o novo carro tinha um potencial surpreendente, embora com um motor Ford V8 com potência inferior ao Renault V10 de Prost. Assim, Senna estendeu seu contrato com a McLaren corrida a corrida, em vez de um contrato de um ano inteiro, acabando por permanecer durante todo o ano de 1993. 
      </div>
      <div class="mb-4 text-justify">
        Alegadamente, esse compromisso foi de US$ 1 milhão por corrida e, apesar dos testes no meio da temporada com um Lamborghini V12 terem se mostrado encorajadores, com a McLaren assinando um contrato de fornecimento de motores com a Peugeot para a temporada de 1994, tudo se mostrou insuficiente para manter Senna depois de 1993. Na corrida de abertura na África do Sul, Senna terminou em segundo lugar após sobreviver a uma colisão com Schumacher. Senna venceu em condições diferentes no Brasil e em Donington. Esta última tem sido considerada uma das maiores vitórias de Senna, estabelecendo o recorde de volta mais rápida em uma corrida de F-1 no pit-lane, então sem restrições. Ele foi quinto na primeira curva e liderou a corrida no final da primeira volta, passando a dar a volta em um segundo lugar, em uma corrida em que até sete pit stops foram exigidos por alguns pilotos para chuva ou pneus slick. Em seguida, Senna conquistou o segundo lugar na Espanha e a sexta vitória em Mônaco. 
      </div>
      <div class="mb-4 text-justify">
        Depois de Mônaco, sexta corrida da temporada, Senna inesperadamente liderou o campeonato com Prost na Williams-Renault. Com o decorrer da temporada, Alain Prost e Damon Hill afirmaram a superioridade de seus carros Williams-Renault, enquanto Senna sofreu falhas mecânicas em Ímola, Canadá, Grã-Bretanha, Hungria e Portugal. Senna venceu a penúltima corrida da temporada no Japão, marcada por um incidente envolvendo o estreante da Jordan, Eddie Irvine, e duas vezes contra Senna. Logo após a corrida, Senna compareceu à garagem da Jordan e, após uma longa e acalorada discussão, deu um soco no rosto do irlandês. A temporada terminou na Austrália, com aquela que seria a 41ª e última vitória de Senna na carreira na F-1. A vitória em Adelaide foi emocionante porque Senna encerrou sua carreira de sucesso na McLaren e derrotou seu maior rival, Prost, pela última vez. Com a iminente aposentadoria do francês do esporte, Senna surpreendeu a comunidade da F-1 ao receber abertamente Prost no degrau mais alto do pódio, o que muitos consideraram um sinal de pacificação entre a dupla. No geral, Senna terminou o campeonato em segundo lugar, atrás de Prost.
      </div>
      <div class="mb-4 text-justify">
        Durante o show pós-corrida de Tina Turner em Adelaide, Senna surpreendeu a todos, inclusive Turner, quando apareceu no palco no meio da noite. Com a torcida aplaudindo, Turner admitiu que era fã do brasileiro e rebateu seu hit "The Best" como uma homenagem a Senna e sua vitória no GP da Austrália no início do dia.
        </div>
    </TimeLineElement>

    <TimeLineElement
      title="[1993] Grande Prêmio da Austrália"
      subtitle="🏆 7 de novembro de 1993, Adelaide, Austrália. "
    >
      Décima sexta e última etapa da temporada, nela o brasileiro Ayrton Senna,
      da McLaren-Ford, atingiu a 41ª (quadragésima primeira) e última vitória de
      sua carreira subindo ao pódio junto a Alain Prost e Damon Hill, pilotos da
      Williams-Renault. 41ª e última vitória de Ayrton Senna na categoria.
    </TimeLineElement>

<!--
    <TimeLineElement
      title="[1994] Williams"
      subtitle=""
    >
Senna já havia tentado entrar para a Williams em 1993, mas foi impedido por Prost, que vetou seu nome. Ayrton Senna se ofereceu para pilotar por nada, pois seu desejo era fazer parte da vencedora equipe Williams-Renault, mas foi impedido por uma cláusula no contrato do francês que impedia o brasileiro de entrar para a equipe (Ato declarado no Filme "Senna").
<blockquote class="ml-5 mt-3">A primeira corrida da temporada 1994 foi no Brasil, disputada em Interlagos, quando Senna fez a pole. Na corrida, Senna assumiu a ponta, mas Michael Schumacher com a Benetton tomou a liderança depois de passar Ayrton Senna nos boxes na volta 21. Senna, determinado a vencer no Brasil, perdeu o controle de sua Williams, rodou na curva da Junção, ficando parado na zebra e abandonando a prova na volta 55.[25] Durante os treinos para o Grande Prêmio do Brasil, algo muito raro aconteceu quando Senna narrou sua própria volta a bordo da Williams em transmissão ao vivo pela TV Globo.</blockquote>
<blockquote class="ml-5 mt-3">A segunda prova foi no GP do Pacífico, disputado em Aida, no Japão, onde Senna novamente ganhou a pole, porém envolveu-se numa colisão já na primeira curva. Foi tocado atrás por Mika Häkkinen e sua corrida acabou definitivamente quando a Ferrari de Nicola Larini também bateu na sua Williams. Gerhard Berger, da Ferrari, terminou em segundo enquanto Schumacher venceu novamente.</blockquote>
</TimeLineElement>
-->

<TimeLineElement title="1994 - Williams FW16" subtitle="Williams FW16">
  <img src="/williams_fw16_a.jpg" alt="1994 - Williams FW16" class="float-left mr-2 max-w-full md:max-w-[15rem] md:min-h-[10rem] md:max-h-[12rem] rounded-lg" width="750" height="422" loading="lazy" decoding="async" data-astro-source-file="D:/app_aragua/_developer/timeline-astro/node_modules/.pnpm/astro@4.0.2/node_modules/astro/components/Image.astro" data-astro-source-loc="34:2">
  <div class=" mb-4 text-justify">    
    Em 1994, Senna pôde finalmente se juntar à equipe Williams com a aposentadoria de Prost e recebeu um salário de US$ 20 milhões. Mudanças nas regras para 1994 proibiram a suspensão ativa, o controle de tração e o ABS. Durante os testes de pré-temporada, o novo carro da Williams FW16 não exibiu nenhuma superioridade dos FW15C e FW14B que o precederam, e Senna se viu em uma corrida apertada com a Benetton B194 de Schumacher. Senna expressou seu desconforto com a dirigibilidade de seu carro, afirmando: "Tenho uma sensação muito negativa sobre dirigir o carro e dirigi-lo no limite e assim por diante... Parte disso se deve à falta de mudança eletrônica. Além disso, o carro tem suas próprias características nas quais ainda não estou totalmente confiante." Senna ainda acrescentou: "Vai ser uma temporada com muitos acidentes, e vou arriscar dizer que teremos sorte se algo realmente sério não acontecer".
  </div>
  <div class="mb-4 text-justify">
    A primeira corrida da temporada foi em Interlagos, no Brasil, onde Senna conquistou a pole position. Ele assumiu a liderança cedo, mas a Benetton de Schumacher nunca ficou muito atrás. Schumacher assumiu de vez a liderança da corrida após passar Senna nos boxes. Enquanto tentava a vitória, ele pressionou demais e rodou o carro que saía de Junção na volta 56, parando e abandonando a corrida. A segunda corrida foi o GP do Pacífico inaugural em Aida, onde Senna novamente colocou o carro na pole. No entanto, depois de ser batido na primeira curva por Schumacher, ele foi atingido por trás na primeira curva por Mika Häkkinen e sua corrida chegou ao fim definitivo quando, enquanto girava para trás na caixa de brita da primeira curva, a Ferrari pilotada por Nicola Larini derrubou a Williams. Ambos os pilotos abandonaram com danos na suspensão dianteira. Hill também abandonou com problemas de transmissão, enquanto Schumacher conquistou a vitória novamente. Foi o pior início de temporada de Senna na Fórmula 1, não conseguindo terminar ou somar pontos nas duas primeiras corridas, apesar de ter conquistado a pole position nas duas vezes. Schumacher liderava Senna no Mundial de Pilotos com 20 pontos.
  </div>
  <div class="text-2xl font-bold my-2">Polêmicas e fim da temporada</div>
  <div class="mb-4 text-justify">
    A temporada de 1994 foi objeto de mudanças radicais nas regras, principalmente proibindo o uso de "ajudas ao motorista" eletrônicas, como suspensão ativa, freios antitravamento, controle de tração e controle de lançamento. Desde o início, a suspeita de falta envolvendo principalmente a equipe Benetton teria incomodado Senna. Por exemplo, em vez de retornar aos boxes após o abandono da primeira volta no GP do Pacífico, Senna optou por ficar perto da primeira curva e ver os carros completarem a corrida para ver se ele conseguia detectar se algum sistema de controle de tração agora proibido estava sendo usado. Ele voltou ao box da Williams após a corrida desconfiado de que o carro da Benetton era ilegal. De fato, em entrevista para o aniversário de 20 anos da morte de Ayrton Senna, seu então companheiro de equipe, Damon Hill, revelou que Senna "concluiu que havia, o que ele considerava, como ruídos incomuns do motor", com "ajustes especiais" dando vantagem à Benetton.
  </div>
  <div class="mb-4 text-justify">
    A temporada terminou no GP da Austrália, em Adelaide, onde a chicane da primeira curva do Circuito de Rua de Adelaide foi rebatizada de "Senna Chicane". Schumacher conquistou o título mundial de pilotos de forma polêmica após uma colisão que forçou sua aposentadoria e a de seu rival e companheiro de Senna, Damon Hill. Na conferência oficial da FIA após a corrida, o alemão dedicou seu título a Senna.
    </div>
</TimeLineElement>

    <TimeLineElement
      title="[1994] Grande Prêmio de San Marino [Williams]"
      subtitle="✝️ 1º de maio de 1994, Autódromo Internacional Enzo e Dino Ferrari, Ímola [Itália]. "
    >
      Ayrton Senna liderava a corrida, com Schumacher logo atrás. Na sexta
      volta, uma quebra na barra de direção fez Senna perder o controle do carro
      quando passava pela curva Tamburello e chocou-se com uma mureta de
      proteção a quase 300 km/h. Com a batida, uma das rodas atingiu o capacete
      do piloto, afundando parte do seu crânio. O ídolo brasileiro foi levado
      para o hospital de helicóptero, mas não resistiu aos ferimentos. Ayrton
      Senna morreu no dia 1º de maio de 1994.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">
      Títulos Kart, Formulas 1600 / 2000 / 3
    </div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Bicampeão Paulista de Kart: 1974; 1976</li>
    <li>Tricampeão Brasileiro de Kart: 1978; 1979; 1980</li>
    <li>Bicampeão Sulamericano de Kart: 1977; 1980</li>
    <li>Campeão de Fórmula Ford 1600: 1981</li>
    <li>Campeão de Fórmula Ford 2000: 1982</li>
    <li>Campeão de Fórmula 3 Britânica: 1983</li>
  </ul>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">Fórmula 1</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Tricampeão: 1988; 1990; 1991</li>
    <li>Vitórias: 41</li>
    <li>Bicampeão Sulamericano de Kart: 1977; 1980</li>
    <li>Pódios: 80</li>
    <li>Pole positions: 65</li>
    <li>Voltas mais rápidas: 19</li>
    <li>Grandes Prêmios: 161</li>
  </ul>
</BaseLayout>
