---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-xl w-full font-bold mb-5">Projetos Artes do Sul</div>
  </div>


  <HorizontalCard
    title="Galeria de Memórias - Um Tributo"
    img="https://res.cloudinary.com/dw8gudamo/image/upload/c_limit,w_1280/c_limit,w_1920/f_webp/q_auto/v1/ayrtonsenna/0_ayrtonsenna_0_qvluyt?_a=BAVAr0By0"
    desc="No dia 1 de maio de 1994, há 30 anos, Ayrton Senna deixa um legadohistórico. O piloto brasileiro foi vítima de um despiste fatal do GP San Marino, em Ímola, um acidente que mudou para sempre a Fórmula 1."
    url="https://ayrtonsenna-memories.netlify.app/"
    badge="projeto"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Sun Tzu Cast"
    img="https://suntzucast.netlify.app/01-introducao.jpg"
    desc="Se você não conhece a si mesmo nem o inimigo, sucumbirá a todas as batalhas. ~~ Sun Tzu "
    url="https://suntzucast.netlify.app/"
    badge="audiobook"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Bem-vindo ao Mundo da Mente - Explorando o Inexplorado"
    img="https://estudodamente.vercel.app/assets/img/mundo-da-mente-cerebro.jpeg"
    desc="Explore uma rica tapeçaria de ideias tecidas pelos autores selecionados, cada um contribuindo de maneira única para a literatura, filosofia, psicologia e educação. "
    url="https://estudodamente.vercel.app/"
    badge="estudo"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Biblioteca Olavo de Carvalho"
    img="https://olavodecarvalho.vercel.app/assets/img/olavobiblioteca.jpg"
    desc="Olavo Luiz Pimentel de Carvalho é professor, filósofo, escritor, ensaísta e jornalista brasileiro. Autor profícuo, escreveu mais de 40 livros, mais de 44 cursos, dezenas de milhares de páginas em apostilas e artigos, protagonizou um filme e, durante 14 anos, ministrou semanalmente seu Curso Online de Filosofia, o COF - contabilizando mais de 570 aulas. "
    url="https://olavodecarvalho.vercel.app/"
    badge="estudo"
  />
  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Portfolio Artes do Sul"
    img="https://www.artesdosul.com/images/thumb/portfolio-particles.jpg"
    desc="REACT / NODE / PARTICLES. A mais recente tecnologia para criação de websites."
    url="https://portfolio-particles.vercel.app/"
    badge="react"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Jornada Seja Grato"
    img="https://www.artesdosul.com/images/thumb/farol.jpg"
    desc="SEJA GRATO - FATOS ESQUECIDOS - BREVE JORNADA DE 200 ANOS."
    url="https://jornada-seja-grato-araguaci.vercel.app"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="Meditação Terra Earth Gaia"
    img="https://www.artesdosul.com/images/thumb/gaia.png"
    desc="Descubra seu Potencial. Planeta Terra Transmutado, Urantia, Gaia, Joia da Galáxia, Love Earth..."
    url="http://gaia.artesdosul.com"
  />

<div class="divider my-0"></div>

<HorizontalCard
  title="S.O.S. TERRA"
  img="https://www.artesdosul.com/images/thumb/sosterra.jpg"
  desc="Produzido em 432hz, O SOM CURATIVO DA TERRA, THE HEALING SOUND OF THE EARTH."
  url="https://healing-sound-of-the-earth.vercel.app"
/>

<div class="divider my-0"></div>

  <HorizontalCard
    title="Aprendendo Todo Dia"
    img="https://araguaci.github.io/o-dominio-de-si-mesmo/images/undraw_mindfulness_scgo.svg"
    desc="Reflexões para vida, Compilado de temas e textos para reflexão pessoal."
    url="https://araguaci.github.io/o-dominio-de-si-mesmo/"
    badge="projeto"
  />

  
</BaseLayout>
