---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Vit贸rias de Ayrton Senna em corridas da F贸rmula 1" sideBarActiveItemID="winner">
  <div class="mb-5">
    <div class="text-xl w-full font-bold">
      Vit贸rias de Ayrton Senna em corridas da F贸rmula 1
    </div>
  </div>

  <div class="mb-10 text-justify">
    <p>
      Ao vencer 41 corridas em 161 Grandes Pr锚mios, Senna est谩 atualmente em
      sexto lugar na lista dos maiores vencedores de corridas da F贸rmula 1 de
      todos os tempos. No total, 35 dessas 41 vit贸rias foram com a McLaren, e 32
      de suas vit贸rias foram em carros com motor Honda. De suas nove vit贸rias
      restantes, cinco foram conquistadas com carros motorizados da Ford e
      quatro com a Renault.
    </p>

    <p class="mt-5">
      Ele teve mais sucesso no Circuito de M么naco, onde venceu seis vezes
      durante sua carreira, incluindo um recorde de cinco vezes consecutivas
      entre 1989 e 1993. Sua maior margem de vit贸ria foi de 1:23.199 no Grande
      Pr锚mio da Europa de 1993, enquanto a menor margem foi no Grande Pr锚mio da
      Espanha de 1986, quando ele derrotou Nigel Mansell por 0,014 segundos, um
      dos resultados finais mais pr贸ximos da hist贸ria da F贸rmula 1.
    </p>
  </div>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">Lotus</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="1985 - 21 de abril de 1985"
      subtitle="[Corrida 17] em [Aut贸dromo do Estoril], [Portugal]"
    />
    <TimeLineElement
      title="1985 - 15 de setembro de 1985"
      subtitle="[Corrida 28] em [Circuito de Spa-Francorchamps], [B茅lgica]"
    />
    <TimeLineElement
      title="1986 - 13 de abril de 1986"
      subtitle="[Corrida 33] em [Circuito de Jerez], [Espanha]"
    />
    <TimeLineElement
      title="1986 - 22 de junho de 1986"
      subtitle="[Corrida 38] em [Circuito Urbano de Detroit], [Detroit]"
    />
    <TimeLineElement
      title="1987 - 31 de maio de 1987"
      subtitle="[Corrida 51] em [	Circuito de M么naco], [M么naco]"
    />
    <TimeLineElement
      title="1987 - 21 de junho de 1987"
      subtitle="[Corrida 52] em [Circuito Urbano de Detroit], [Detroit]"
    />
  </div>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">McLaren</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="1988 - 1 de maio de 1988"
      subtitle="[Corrida 65] em [Aut贸dromo Enzo e Dino Ferrari], [San Marino]"
    />
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - 12 de junho de 1988" subtitle="[Corrida 68] em [Circuito Gilles Villeneuve], [Canad谩]" />
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - 19 de junho de 1988" subtitle="[Corrida 69] em [Circuito Urbano de Detroit], [Detroit]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - 10 de julho de 1988" subtitle="[Corrida 70] em [Circuito de Silverstone], [Gr茫-Bretanha]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - 24 de julho de 1988" subtitle="[Corrida 71] em [Hockenheimring], [Alemanha]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - 7 de agosto de 1988" subtitle="[Corrida 73] em [Hungaroring], [Hungria]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - 28 de agosto de 1988" subtitle="[Corrida 74] em [Circuito de Spa-Francorchamps], [B茅lgica]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - 30 de outubro de 1988" subtitle="[Corrida 78] em [Circuito de Suzuka], [Jap茫o]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1989 - 23 de abril de 1989" subtitle="[Corrida 81] em [Aut贸dromo Enzo e Dino Ferrari], [San Marino]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1989 - 7 de maio de 1989" subtitle="[Corrida 82] em [Circuito de M么naco], [M么naco]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1989 - 28 de maio de 1989" subtitle="[Corrida 83] em [Aut贸dromo Hermanos Rodr铆guez], [M茅xico]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1989 - 30 de julho de 1989" subtitle="[Corrida 88] em [Hockenheimring], [Alemanha]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1989 - 27 de agosto de 1989" subtitle="[Corrida 90] em [Circuito de Spa-Francorchamps], [B茅lgica]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1989 - 1 de outubro de 1989" subtitle="[Corrida 93] em [Circuito de Jerez], [Espanha]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1990 - 11 de mar莽o de 1990" subtitle="[Corrida 96] em [Circuito de Rua de Phoenix], [Estados Unidos]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1990 - 27 de maio de 1990" subtitle="[Corrida 99] em [Circuito de M么naco], [M么naco]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1990 - 10 de junho de 1990" subtitle="[Corrida 100] em [Circuito Gilles Villeneuve], [Canad谩]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1990 - 29 de julho de 1990" subtitle="[Corrida 104] em [Hockenheimring], [Alemanha]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1990 - 26 de agosto de 1990" subtitle="[Corrida 106] em [Circuito de Spa-Francorchamps], [B茅lgica]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1990 - 9 de setembro de 1990" subtitle="[Corrida 107] em [Aut贸dromo Nacional de Monza], [It谩lia]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1991 - " subtitle="[Corrida xx] em [xxx], [xxx]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1991 - " subtitle="[Corrida xx] em [xxx], [xxx]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1991 - " subtitle="[Corrida xx] em [xxx], [xxx]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1991 - " subtitle="[Corrida xx] em [xxx], [xxx]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1991 - " subtitle="[Corrida xx] em [xxx], [xxx]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1991 - " subtitle="[Corrida xx] em [xxx], [xxx]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1991 - " subtitle="[Corrida xx] em [xxx], [xxx]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1991 - " subtitle="[Corrida xx] em [xxx], [xxx]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1992 - " subtitle="[Corrida xx] em [xxx], [xxx]" />
  </div>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">Vit贸rias em Grandes Pr锚mios</div>
  </div>

  <ul class="list-decimal mx-6 mb-10 grid gap-2">
    <li>Grande Pr锚mio de M么naco	[1987], [1989], [1990], [1991], [1992], [1993]	(6)</li>
    <li>Grande Pr锚mio da B茅lgica	[1985], [1988], [1989], [1990], [1991]	(5)</li>
    <li>Grande Pr锚mio de Detroit	[1986], [1987], [1988]	(3)</li>
    <li>Grande Pr锚mio da Alemanha	[1988], [1989], [1990]	(3)</li>
    <li>Grande Pr锚mio de San Marino	[1988], [1989], [1991]	(3)</li>
    <li>Grande Pr锚mio da Hungria	[1988], [1991], [1992]	(3)</li>
    <li>Grande Pr锚mio da Espanha	[1986], [1989]	(2)</li>
    <li>Grande Pr锚mio do Canad谩	[1988], [1990]	(2)</li>
    <li>Grande Pr锚mio dos Estados Unidos	[1990], [1991]	(2)</li>
    <li>Grande Pr锚mio da It谩lia	[1990], [1992]	(2)</li>
    <li>Grande Pr锚mio do Brasil	[1991], [1993]	(2)</li>
    <li>Grande Pr锚mio do Jap茫o	[1988], [1993]	(2)</li>
    <li>Grande Pr锚mio da Austr谩lia	[1991], [1993]	(2)</li>
    <li>Grande Pr锚mio de Portugal	[1985]	(1)</li>
    <li>Grande Pr锚mio da Gr茫-Bretanha	[1988]	(1)</li>
    <li>Grande Pr锚mio do M茅xico	[1989]	(1)</li>
    <li>Grande Pr锚mio da Europa	[1993] (1)</li>
  </ul>
   
</BaseLayout>
