---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="winner">
  <div class="mb-5">
    <div class="text-xl w-full font-bold">
      Vitórias de Ayrton Senna em corridas da Fórmula 1
    </div>
  </div>

  <div class="mb-10 text-justify">
    <p>
      Ao vencer 41 corridas em 161 Grandes Prêmios, Senna está atualmente em
      sexto lugar na lista dos maiores vencedores de corridas da Fórmula 1 de
      todos os tempos. No total, 35 dessas 41 vitórias foram com a McLaren, e 32
      de suas vitórias foram em carros com motor Honda. De suas nove vitórias
      restantes, cinco foram conquistadas com carros motorizados da Ford e
      quatro com a Renault.
    </p>

    <p class="mt-5">
      Ele teve mais sucesso no Circuito de Mônaco, onde venceu seis vezes
      durante sua carreira, incluindo um recorde de cinco vezes consecutivas
      entre 1989 e 1993. Sua maior margem de vitória foi de 1:23.199 no Grande
      Prêmio da Europa de 1993, enquanto a menor margem foi no Grande Prêmio da
      Espanha de 1986, quando ele derrotou Nigel Mansell por 0,014 segundos, um
      dos resultados finais mais próximos da história da Fórmula 1.
    </p>
  </div>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">Lotus</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="1985 - 21 de abril de 1985"
      subtitle="[Corrida 17] em [Autódromo do Estoril], [Portugal]"
    />
    <TimeLineElement
      title="1985 - 15 de setembro de 1985"
      subtitle="[Corrida 28] em [Circuito de Spa-Francorchamps], [Bélgica]"
    />
    <TimeLineElement
      title="1986 - 13 de abril de 1986"
      subtitle="[Corrida 33] em [Circuito de Jerez], [Espanha]"
    />
    <TimeLineElement
      title="1986 - 22 de junho de 1986"
      subtitle="[Corrida 38] em [Circuito Urbano de Detroit], [Detroit]"
    />
    <TimeLineElement
      title="1987 - 31 de maio de 1987"
      subtitle="[Corrida 51] em [	Circuito de Mônaco], [Mônaco]"
    />
    <TimeLineElement
      title="1987 - 21 de junho de 1987"
      subtitle="[Corrida 52] em [Circuito Urbano de Detroit], [Detroit]"
    />
  </div>

  <div class="mb-5">
    <div class="text-xl w-full font-bold">McLaren</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="1988 - 1 de maio de 1988"
      subtitle="[Corrida 65] em [Autódromo Enzo e Dino Ferrari], [San Marino]"
    />
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - 12 de junho de 1988" subtitle="[Corrida 68] em [Circuito Gilles Villeneuve], [Canadá]" />
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - 19 de junho de 1988" subtitle="[Corrida 69] em [Circuito Urbano de Detroit], [Detroit]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - " subtitle="[Corrida xxx] em [xxx], [xxx]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - " subtitle="[Corrida xxx] em [xxx], [xxx]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - " subtitle="[Corrida xxx] em [xxx], [xxx]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - " subtitle="[Corrida xxx] em [xxx], [xxx]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - " subtitle="[Corrida xxx] em [xxx], [xxx]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - " subtitle="[Corrida xxx] em [xxx], [xxx]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - " subtitle="[Corrida xxx] em [xxx], [xxx]" />
  </div>
  <div class="time-line-container mb-10">
    <TimeLineElement title="1988 - " subtitle="[Corrida xxx] em [xxx], [xxx]" />
  </div>  

  <div class="mb-5">
    <div class="text-xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-decimal mx-6 mb-10 grid gap-2">
    <li>1	Grande Prêmio de Mônaco	1987, 1989, 1990, 1991, 1992, 1993	6</li>
    <li>2	Grande Prêmio da Bélgica	1985, 1988, 1989, 1990, 1991	5</li>
    <li>3	Grande Prêmio de Detroit	1986, 1987, 1988	3</li>
    <li>4	Grande Prêmio da Alemanha	1988, 1989, 1990	</li>
    <li>5	Grande Prêmio de San Marino	1988, 1989, 1991	</li>
    <li>6	Grande Prêmio da Hungria	1988, 1991, 1992	</li>
    <li>7	Grande Prêmio da Espanha	1986, 1989	2</li>
    <li>8	Grande Prêmio do Canadá	1988, 1990	</li>
    <li>9	Grande Prêmio dos Estados Unidos	1990, 1991	</li>
    <li>10	Grande Prêmio da Itália	1990, 1992	</li>
    <li>11	Grande Prêmio do Brasil	1991, 1993	</li>
    <li>12	Grande Prêmio do Japão	1988, 1993	</li>
    <li>13	Grande Prêmio da Austrália	1991, 1993	</li>
    <li>14	Grande Prêmio de Portugal	1985	1</li>
    <li>15	Grande Prêmio da Grã-Bretanha	1988	</li>
    <li>16	Grande Prêmio do México	1989	</li>
    <li>17	Grande Prêmio da Europa	1993</li>
  </ul>
   
</BaseLayout>
